openapi: 3.0.0
info:
  version: 1.0.0
  title: Documentación de Paylands
  contact:
    name: Alguna pregunta? Contacta con nosotros aquí
    email: soporte@paylands.com
  x-logo:
    url: https://paylands-web-assets.s3.eu-west-1.amazonaws.com/logos/documentation-paylands-logo.png
    backgroundColor: '#FFFFFF'
    altText: Referencia API Paylands
servers:
- url: https://api.paylands.com/v1/sandbox
  description: Sandbox environment
- url: https://api.paylands.com/v1
  description: Production environment
security: []
tags:
- name: Autenticación
  description: 'Cuando uses la presente API deberás autenticar las llamadas mediante tu API Key en cada petición. Tu API Key
    conlleva muchos privilegios por lo que asegúrate de mantenerla en secreto. No compartas tu API Key ni la expongas nunca
    en el código del lado del cliente de cualquier sitio web público.


    La autenticación de la API se realiza mediante HTTP Basic Auth. Provee tu API Key como valor para el campo username (nombre
    de usuario). No es necesario proveer valor para el campo password (contraseña). Si se setea la cabecera Basic Auth manualmente,
    la API Key debe ir codificada en base64.


    Si necesita autenticar via bearer auth (como por ejemplo, para una petición cross-origin), usa el modificador -H "Authorization:
    Bearer <API Key>" en lugar de -u <API Key>:.


    Todas las peticiones a la API deben realizarse sobre HTTPS. Las peticiones realizadas sobre HTTP serán denegadas; así
    como las peticiones sin autenticar.'
- name: API Keys
  description: ''
- name: Campañas MoTo
  description: ''
- name: Operaciones en lote
  description: Mediante este endpoint se puede enviar un CSV al servidor conteniendo varias operaciones que serán ejecutadas
    en un proceso batch. Este CSV debe contener una línea de cabecera con el nombre de los campos. La segunda fila y siguientes
    contendrán toda la información de las diferentes operaciones. Los campos dentro de cada fila deben estar separados por
    una coma (,).
- name: Pagos
  description: ''
- name: Abonos
  description: ''
- name: Transacciones
  description: ''
- name: Tarjetas
  description: ''
- name: Cuentas bancarias
  description: ''
- name: Actualizar external ID
  description: ''
- name: Órdenes
  description: ''
- name: Comercios
  description: Paylands ofrece la posibilidad de crear comercios via api para aquellos comercios que sean partners.
- name: Servicios
  description: Paylands ofrece la posibilidad de crear servicios via api para aquellos comercios que sean partners.
- name: Terminales
  description: ''
- name: Clientes
  description: ''
- name: Card Present
  description: 'En el ámbito de los pagos electrónicos, el término "Card Present" se refiere a las transacciones en las que
    la tarjeta de pago física se encuentra presente en el momento de la transacción. Este tipo de pagos se realizan típicamente
    a través de un punto de venta (POS) físico, donde la tarjeta se desliza, inserta (en caso de tarjetas con chip) o se acerca
    (en el caso de tarjetas contactless o NFC) al dispositivo.


    En esta sección se describen todos los endpoints disponibles en Paylands para poder ejecutar operaciones desde dispositivos
    físicos. Estos endpoints siempre devolverán la respuesta de forma síncrona.'
- name: Subscripciones
  description: 'Paylands ofrece la posibilidad de realizar pagos recurrentes mediante suscripciones. Para ello es necesario
    registrar el producto que se está ofreciendo - por ejemplo, el acceso a un servicio de streaming. Hecho esto pueden registrarse
    uno o más planes para poder acceder a este producto - por ejemplo, una cuota de 10€/mes y otra de 100€/año.


    Para registrar las subscripciones sugerimos elaborar una carta de pago personalizada donde el cliente pueda seleccionar
    el plan que desee y la tarjeta que será cobrada. Una vez se cumpla el plazo establecido, el cliente recibirá un cargo
    en su tarjeta y el comercio recibirá una notificación con la información del cargo efectuado y si éste ha sido exitoso
    o no. Todas estas operaciones se realizarán a través de la API de Paylands.


    Los planes son flexibles, pudiéndose cobrar diariamente, semanalmente, mensualmente o anualmente. También es posible que
    el cobro sea cada varios días, semanas o meses. La primera cuota puede retrasarse varios días o semanas para que los clientes
    puedan cancelar su suscripción antes de que se realice el primer cobro. Una vez un usuario se ha registrado puede conocerse
    el día en el cual se realizará el próximo cobro, y el estado de su suscripción - pendiente de pago, pagada o cancelada.'
- name: POSMS
  description: 'Paylands ofrece la posibilidad de realizar pagos físicos mediante datáfonos inteligentes. Para utilizar este
    servicio, es necesarío que desde soporte se le registre en la plataforma y se le configuren los dispositivos necesarios
    con las credenciales del servicio de Credorax que vaya a ser usado en cada uno de ellos. Una vez tenga los datáfonos inteligentes,
    puede comenzar a procesar pagos a través de ellos.


    Existen dos métodos de integración para POSMS.  - El primero es mediante la integración API, que permite a su aplicación
    comunicarse directamente con el servicio Sentinel de Paylands para procesar pagos a través de dispositivos físicos. Este
    enfoque es perfecto para negocios que desean integrar capacidades de pago sin depender de una aplicación móvil existente.
    - El segundo es mediante la integración APP2APP, que permite a su aplicación móvil comunicarse directamente con el servicio
    Sentinel de Paylands para procesar pagos a través de dispositivos físicos. Este enfoque es perfecto para negocios con
    aplicaciones móviles existentes que desean integrar capacidades de pago sin implementar toda la lógica de comunicación
    de bajo nivel con el dispositivo. '
- name: POSMS - API
  description: ''
- name: POSMS - APP2APP
  description: ''
- name: UNNAMED
  description: Quizá debamos excluir estos endpoints de aquí.
- name: Listas de seguridad
  description: ''
x-tagGroups:
- name: Tabla de contenidos
  tags:
  - Autenticación
  - API Keys
  - Pagos
  - Abonos
  - Órdenes
  - Transacciones
  - Comercios
  - Servicios
  - Terminales
  - Clientes
  - Card Present
- name: Métodos de pago
  tags:
  - Tarjetas
  - Cuentas bancarias
  - Actualizar external ID
- name: Operaciones adicionales
  tags:
  - Campañas MoTo
  - Operaciones en lote
  - Subscripciones
  - Listas de seguridad
- name: POSMS
  tags:
  - POSMS
  - POSMS - API
  - POSMS - APP2APP
paths:
  /:
    get:
      operationId: authentication
      tags:
      - Autenticación
      - Authentication
      parameters:
      - name: Authorization
        in: header
        description: Cabecera de autorización a la que debes añadir tu API Key.
        x-description-i18n:
          eng: Authorization header containing your API key.
        required: true
        example: Basic RXN0YUVzVHVBUElLZXlNYW50ZW5sYVNlZ3VyYQ==
        x-example-i18n:
          eng: Basic VGhpc0lzWW91ckFQSUtleUtlZXBJdFNhZmU=
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    message: OK
                    current_time: 2019-05-30T12:55:48+0200
              schema:
                properties:
                  message:
                    type: string
                    description: Nombre del código HTTP de respuesta.
                    x-description-i18n:
                      eng: Name of the HTTP response code.
                  code:
                    type: number
                    description: Código de respuesta.
                    x-description-i18n:
                      eng: Response code.
                  current_time:
                    type: string
                    description: Fecha y hora de la petición.
                    x-description-i18n:
                      eng: Date and time of the request.
                type: object
                required:
                - message
                - code
                - current_time
          description: OK
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 400
                    message: Bad Request
                    details: <service> parameter is not valid. Please, review documentation.
              schema:
                properties:
                  message:
                    type: string
                    description: Nombre del error HTTP.
                    x-description-i18n:
                      eng: Name of the HTTP error.
                  code:
                    type: number
                    description: Código de respuesta.
                    x-description-i18n:
                      eng: Response code.
                  details:
                    type: string
                    description: Detalles del error.
                    x-description-i18n:
                      eng: Response error details.
                type: object
                required:
                - message
                - code
          description: Bad request
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 403
                    message: Forbidden
                    current_time: 2019-05-30T12:55:48+0200
              schema:
                properties:
                  message:
                    type: string
                    description: Nombre del error HTTP.
                    x-description-i18n:
                      eng: Name of the HTTP error.
                  code:
                    type: number
                    description: Código de respuesta.
                    x-description-i18n:
                      eng: Response code.
                  details:
                    type: string
                    description: Detalles del error.
                    x-description-i18n:
                      eng: Response error details.
                type: object
                required:
                - message
                - code
          description: Forbidden
      summary: Autenticación de peticiones
      description: Ejemplo de como autenticar todas las peticiones a la API.
      x-description-i18n:
        eng: API Request authentication example.
      x-summary-i18n:
        eng: Request authentication
  /api-key/me:
    get:
      operationId: my-api-key-profiles
      tags:
      - API Keys
      parameters:
      - $ref: '#/paths/~1/get/parameters/0'
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2019-05-30T12:55:48+0200
                    message: OK
                    profiles:
                    - payment
                    - readonly
                    - tokenize
                    - batch_authorization
                    - keyentry
              schema:
                allOf:
                - properties:
                    message:
                      type: string
                      description: Nombre del código HTTP de respuesta.
                      x-description-i18n:
                        eng: Name of the HTTP response code.
                    code:
                      type: number
                      description: Código de respuesta.
                      x-description-i18n:
                        eng: Response code.
                    current_time:
                      type: string
                      description: Fecha y hora de la petición.
                      x-description-i18n:
                        eng: Date and time of the request.
                  type: object
                  required:
                  - message
                  - code
                  - current_time
                - properties:
                    profiles:
                      type: array
                      items:
                        enum:
                        - all
                        - payment
                        - refund
                        - readonly
                        - card
                        - tokenize
                        - moto
                        - batch_authorization
                        - batch_refund
                        - keyentry
                        type: string
                      description: Todos los perfiles de API key a los que tiene acceso el cliente que ha realizado la petición.
                      x-description-i18n:
                        eng: Every profile this API key has access to.
                  required:
                  - profiles
          description: OK
      summary: Ver los perfiles de mi API key
      description: Este endpoint sirve para obtener los perfiles de la API key que se ha usado en la petición. Si la API key
        tiene acceso total, se devolverá el perfil `all`.
      x-description-i18n:
        eng: This endpoint returns the profiles of the API key that was used in the request. If the API key has total access,
          it will return `all`.
      x-summary-i18n:
        eng: View my API key profiles
  /api-key/profiles:
    get:
      operationId: api-key-profiles
      tags:
      - API Keys
      parameters:
      - $ref: '#/paths/~1/get/parameters/0'
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2019-05-30T12:55:48+0200
                    message: OK
                    profiles:
                    - payment
                    - refund
                    - readonly
                    - card
                    - tokenize
                    - moto
                    - batch_authorization
                    - batch_refund
                    - keyentry
              schema:
                allOf:
                - properties:
                    message:
                      type: string
                      description: Nombre del código HTTP de respuesta.
                      x-description-i18n:
                        eng: Name of the HTTP response code.
                    code:
                      type: number
                      description: Código de respuesta.
                      x-description-i18n:
                        eng: Response code.
                    current_time:
                      type: string
                      description: Fecha y hora de la petición.
                      x-description-i18n:
                        eng: Date and time of the request.
                  type: object
                  required:
                  - message
                  - code
                  - current_time
                - properties:
                    profiles:
                      type: array
                      items:
                        enum:
                        - all
                        - payment
                        - refund
                        - readonly
                        - card
                        - tokenize
                        - moto
                        - batch_authorization
                        - batch_refund
                        - keyentry
                        type: string
                      description: Todos los perfiles de API key existentes.
                      x-description-i18n:
                        eng: All existing API profiles.
          description: OK
      summary: Obtener perfiles API key
      description: 'Este endpoint sirve para obtener todos los perfiles que puede tener una API key.

        * `all`: Acceso total

        * `payment`: Creación de órdenes, pagos, devoluciones, confirmaciones, cancelaciones, tokenización de tarjetas

        * `refund`: Devolver órdenes.

        * `readonly`: Leer órdenes, clientes, tarjetas, etc,

        * `card`: Tokenizar, listar, modificar y borrar tarjetas

        * `tokenize`: Tokenizar tarjetas

        * `moto`: Lanzar campañas MoTo

        * `batch_authorization`: Lanzar pagos en lote

        * `batch_refund`: Lanzar devoluciones en lote

        * `keyentry`: Procesar pagos manuales'
      x-description-i18n:
        eng: 'This endpoint returns all the profiles that an API key can have.

          * `all`: Full access

          * `payment`: Order creation, payment, refunds, confirmation and cancellation, card tokenization

          * `refund`: Refunding orders.

          * `readonly`: Reading orders, customers, cards, etc

          * `card`: Tokenizing, listing, modifying and deleting cards

          * `tokenize`: Card tokenization

          * `moto`: Uploading MoTo campaigns

          * `batch_authorization`: Uploading batches of payments

          * `batch_refund`: Uploading batches of refunds

          * `keyentry`: Processing manual payments'
      x-summary-i18n:
        eng: View the profiles of my API key
  /batch/authorizations:
    post:
      operationId: batch-payments-file
      tags:
      - Operaciones en lote
      - Batch operations
      parameters:
      - $ref: '#/paths/~1/get/parameters/0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: Fichero CSV codificado en base64.
                  x-description-i18n:
                    eng: CSV file encoded in base64.
                execute_at:
                  type: string
                  description: Fecha a partir de la cual se procesará el fichero. Si no se especifica esta fecha, el fichero
                    se encolará para su procesado en el momento del envío.
                  nullable: true
                  x-description-i18n:
                    eng: Date after which the file will be processed. If this date is not specified, the file will be queued
                      for processing as soon as it is uploaded.
                filename:
                  type: string
                  description: Nombre del fichero bajo el que se agruparán los pagos enviados.
                  x-description-i18n:
                    eng: Name of the file under which the payments will be grouped.
                signature:
                  type: string
                  description: Firma que acompaña a la API key. Requerida en todas las peticiones POST/PUT/DELETE.
                  x-description-i18n:
                    eng: Signature paired with the API key. Required in all POST/PUT/DELETE requests.
              example:
                data: QU1PVU5ULENBUkQsQ1VTVE9NRVJfRVhURVJOQUxfSUQsU0VSVklDRSxBRERJVElPTkFMLFVSTF9QT1NUDQoxMjAzNSxFNzZBNTdGRi00REJDLTRBM0QtQjZFMy0wNTIwRThCMTNFM0YsMzA4LDExNEFCNDI0LTAyM0ItNEUxMy
                execute_at: '2017-11-11 11:11:11'
                filename: test.csv
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - filename
              - data
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    message: OK
                    code: 200
                    current_time: 2017-10-26T17:28:06+0200
              schema:
                properties:
                  message:
                    type: string
                    description: Nombre del código HTTP de respuesta.
                    x-description-i18n:
                      eng: Name of the HTTP response code.
                  code:
                    type: number
                    description: Código de respuesta.
                    x-description-i18n:
                      eng: Response code.
                  current_time:
                    type: string
                    description: Fecha y hora de la petición.
                    x-description-i18n:
                      eng: Date and time of the request.
                type: object
                required:
                - message
                - code
                - current_time
          description: OK
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    message: Bad Request
                    code: 400
                    errors:
                    - line: 1
                      msg: '<amount> parameter is not numeric. Ex: 100 for 1.00 €'
              schema:
                allOf:
                - properties:
                    message:
                      type: string
                      description: Nombre del error HTTP.
                      x-description-i18n:
                        eng: Name of the HTTP error.
                    code:
                      type: number
                      description: Código de respuesta.
                      x-description-i18n:
                        eng: Response code.
                    details:
                      type: string
                      description: Detalles del error.
                      x-description-i18n:
                        eng: Response error details.
                  type: object
                  required:
                  - message
                  - code
                - type: object
                  properties:
                    errors:
                      type: array
                      items:
                        properties:
                          line:
                            type: number
                            description: Línea del fichero en el que se ha producido el error.
                            x-description-i18n:
                              eng: The line containing the error in the file.
                          msg:
                            type: string
                            description: Mensaje del error.
                            x-description-i18n:
                              eng: The error message.
                        required:
                        - line
                        - msg
                        type: object
                      description: Lista los errores producidos en cada una de las líneas del fichero. Si no hay ningún error,
                        esta clave no se devuelve.
                      x-description-i18n:
                        eng: Lists the errors occurred in each line of the file. If there are no errors, this key will not
                          be returned.
          description: Bad Request
        '422':
          content:
            application/json:
              examples:
                response:
                  value:
                    message: Unprocessable Entity
                    code: 422
                    details: 'Invalid header: missing header: amount'
              schema:
                properties:
                  message:
                    type: string
                    description: Nombre del error HTTP.
                    x-description-i18n:
                      eng: Name of the HTTP error.
                  code:
                    type: number
                    description: Código de respuesta.
                    x-description-i18n:
                      eng: Response code.
                  details:
                    type: string
                    description: Detalles del error.
                    x-description-i18n:
                      eng: Response error details.
                type: object
                required:
                - message
                - code
          description: Unprocessable Entity
      summary: Fichero de pagos
      description: Encola un fichero de pagos en batch.
      x-description-i18n:
        eng: Queues a payment batch file.
      x-summary-i18n:
        eng: Payments file
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/batch/authorizations \\\n  --header 'Authorization:\
          \ Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"data\": \"QU1PVU5ULENBUkQsQ1VTVE9NRVJfRVhURVJOQUxfSUQsU0VSVklDRSxBRERJVElPTkFMLFVSTF9QT1NUDQoxMjAzNSxFNzZBNTdGRi00REJDLTRBM0QtQjZFMy0wNTIwRThCMTNFM0YsMzA4LDExNEFCNDI0LTAyM0ItNEUxMy\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/batch/authorizations\"\nheaders = {\n    \"\
          Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"\
          data\": \"QU1PVU5ULENBUkQsQ1VTVE9NRVJfRVhURVJOQUxfSUQsU0VSVklDRSxBRERJVElPTkFMLFVSTF9QT1NUDQoxMjAzNSxFNzZBNTdGRi00REJDLTRBM0QtQjZFMy0wNTIwRThCMTNFM0YsMzA4LDExNEFCNDI0LTAyM0ItNEUxMy\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/batch/authorizations\", {\n  method: \"\
          POST\",\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\
          \n  },\n  body: JSON.stringify({\n  \"data\": \"QU1PVU5ULENBUkQsQ1VTVE9NRVJfRVhURVJOQUxfSUQsU0VSVklDRSxBRERJVElPTkFMLFVSTF9QT1NUDQoxMjAzNSxFNzZBNTdGRi00REJDLTRBM0QtQjZFMy0wNTIwRThCMTNFM0YsMzA4LDExNEFCNDI0LTAyM0ItNEUxMy\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/batch/authorizations\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER,\
          \ true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    \"Authorization:\
          \ Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
          \ '{\n  \"data\": \"QU1PVU5ULENBUkQsQ1VTVE9NRVJfRVhURVJOQUxfSUQsU0VSVklDRSxBRERJVElPTkFMLFVSTF9QT1NUDQoxMjAzNSxFNzZBNTdGRi00REJDLTRBM0QtQjZFMy0wNTIwRThCMTNFM0YsMzA4LDExNEFCNDI0LTAyM0ItNEUxMy\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /batch/refunds:
    post:
      operationId: batch-refunds-file
      tags:
      - Operaciones en lote
      - Batch operations
      parameters:
      - $ref: '#/paths/~1/get/parameters/0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: Fichero CSV codificado en base64
                  x-description-i18n:
                    eng: CSV file encoded in base64.
                execute_at:
                  type: string
                  description: Fecha a partir de la cual se procesará el fichero. Si no se especifica esta fecha, el fichero
                    se encolará para su procesado en el momento del envío
                  nullable: true
                  x-description-i18n:
                    eng: Date after which the file will be processed. If this date is not specified, the file will be queued
                      for processing as soon as it is uploaded.
                filename:
                  type: string
                  description: Nombre del fichero bajo el que se agruparán las devoluciones enviadas.
                  x-description-i18n:
                    eng: Name of the file under which the refunds will be grouped.
                signature:
                  type: string
                  description: Firma que acompaña a la API key. Requerida en todas las peticiones POST/PUT/DELETE.
                  x-description-i18n:
                    eng: Signature paired with the API key. Required in all POST/PUT/DELETE requests.
              example:
                data: T1JERVJfVVVJRCxBTU9VTlQKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDEKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDIKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDMyMjIyCg==
                execute_at: '2017-11-11 11:11:11'
                filename: test.csv
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - filename
              - data
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2017-10-26T17:28:06+0200
                    errors:
                    - line: 13
                      msg: Invalid card
                    message: OK
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        line:
                          type: number
                          description: Línea del fichero en el que se ha producido el error.
                          x-description-i18n:
                            eng: The line containing the error in the file.
                        msg:
                          type: string
                          description: Mensaje del error.
                          x-description-i18n:
                            eng: The error message.
                      required:
                      - line
                      - msg
                      type: object
                    description: Lista los errores producidos en cada una de las líneas del fichero. Si no hay ningún error,
                      esta clave no se devuelve.
                    x-description-i18n:
                      eng: Lists the errors occurred in each line of the file. If there are no errors, this key will not be
                        returned.
          description: OK
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    message: Bad Request
                    code: 400
                    errors:
                    - line: 1
                      msg: '<amount> parameter is not numeric. Ex: 100 for 1.00 €'
              schema:
                allOf:
                - properties:
                    message:
                      type: string
                      description: Nombre del error HTTP.
                      x-description-i18n:
                        eng: Name of the HTTP error.
                    code:
                      type: number
                      description: Código de respuesta.
                      x-description-i18n:
                        eng: Response code.
                    details:
                      type: string
                      description: Detalles del error.
                      x-description-i18n:
                        eng: Response error details.
                  type: object
                  required:
                  - message
                  - code
                - type: object
                  properties:
                    errors:
                      type: array
                      items:
                        properties:
                          line:
                            type: number
                            description: Línea del fichero en el que se ha producido el error.
                            x-description-i18n:
                              eng: The line containing the error in the file.
                          msg:
                            type: string
                            description: Mensaje del error.
                            x-description-i18n:
                              eng: The error message.
                        required:
                        - line
                        - msg
                        type: object
                      description: Lista los errores producidos en cada una de las líneas del fichero. Si no hay ningún error,
                        esta clave no se devuelve.
                      x-description-i18n:
                        eng: Lists the errors occurred in each line of the file. If there are no errors, this key will not
                          be returned.
          description: Bad Request
        '422':
          content:
            application/json:
              examples:
                response:
                  value:
                    message: Unprocessable Entity
                    code: 422
                    details: 'Invalid header: missing header: amount'
              schema:
                properties:
                  message:
                    type: string
                    description: Nombre del error HTTP.
                    x-description-i18n:
                      eng: Name of the HTTP error.
                  code:
                    type: number
                    description: Código de respuesta.
                    x-description-i18n:
                      eng: Response code.
                  details:
                    type: string
                    description: Detalles del error.
                    x-description-i18n:
                      eng: Response error details.
                type: object
                required:
                - message
                - code
          description: Unprocessable Entity
      summary: Fichero de devoluciones
      description: Encola un fichero de devoluciones en batch.
      x-description-i18n:
        eng: Queues a refund batch file.
      x-summary-i18n:
        eng: Refunds file
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/batch/refunds \\\n  --header 'Authorization:\
          \ Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"data\": \"T1JERVJfVVVJRCxBTU9VTlQKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDEKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDIKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDMyMjIyCg==\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/batch/refunds\"\nheaders = {\n    \"Authorization\"\
          : \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"data\": \"T1JERVJfVVVJRCxBTU9VTlQKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDEKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDIKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDMyMjIyCg==\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/batch/refunds\", {\n  method: \"POST\"\
          ,\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\
          \n  },\n  body: JSON.stringify({\n  \"data\": \"T1JERVJfVVVJRCxBTU9VTlQKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDEKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDIKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDMyMjIyCg==\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/batch/refunds\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER,\
          \ true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    \"Authorization:\
          \ Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
          \ '{\n  \"data\": \"T1JERVJfVVVJRCxBTU9VTlQKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDEKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDIKMjY3Njk3NjMtQTJDOS00QUI4LTgwRDQtOTVERDgyNEUzNzVBLDMyMjIyCg==\"\
          ,\n  \"execute_at\": \"2017-11-11 11:11:11\",\n  \"filename\": \"test.csv\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /bts/account-types-payment-agents:
    post:
      operationId: bts-payment-agent-account-types
      tags:
      - UNNAMED
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country_cd:
                  type: string
                  description: Código alpha 3 del país.
                currency_cd:
                  type: string
                  description: Código alpha 3 de la moneda.
                pay_agent_cd:
                  type: string
                  description: Código del payment agent.
                service_uuid:
                  type: string
                signature:
                  type: string
              example:
                country_cd: MEX
                currency_cd: MXP
                pay_agent_cd: EK6
                service_uuid: 60A1F4C0-CC58-47A9-A0B9-868F9EF29045
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - service_uuid
              - pay_agent_cd
              - country_cd
              - currency_cd
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    accounts:
                    - ACCOUNT_NUMBER
                    - BUSINESS
                    - ACCOUNT_CLABE
                    - CARD_NUMBER
                    - INTEREST_CHECKING
                    - MONEY_MARKET
                    - MOBILE_PHONE_NUMBER
                    - NOT_USED_FOR_THIS_BANK
                    - PERSONAL
                    - REGULAR_CHECKING
                    - SAVING_ACCOUNT
                    code: 200
                    current_time: 2020-02-24T10:01:24+0100
                    message: OK
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    description: Tipos de cuenta.
          description: OK
      summary: Obtener tipos de cuenta por payment agent
      description: Obtener tipos de cuenta por payment agent
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/bts/account-types-payment-agents \\\n\
          \  --header 'Authorization: Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data\
          \ '{\n  \"country_cd\": \"MEX\",\n  \"currency_cd\": \"MXP\",\n  \"pay_agent_cd\": \"EK6\",\n  \"service_uuid\"\
          : \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/bts/account-types-payment-agents\"\nheaders\
          \ = {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload\
          \ = {\n  \"country_cd\": \"MEX\",\n  \"currency_cd\": \"MXP\",\n  \"pay_agent_cd\": \"EK6\",\n  \"service_uuid\"\
          : \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n}\n\nresponse\
          \ = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/bts/account-types-payment-agents\", {\n\
          \  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\":\
          \ \"application/json\"\n  },\n  body: JSON.stringify({\n  \"country_cd\": \"MEX\",\n  \"currency_cd\": \"MXP\",\n\
          \  \"pay_agent_cd\": \"EK6\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"\
          121149a0ba5361191d740fa898784a8b\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/bts/account-types-payment-agents\");\ncurl_setopt($ch,\
          \ CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER,\
          \ [\n    \"Authorization: Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\n\
          curl_setopt($ch, CURLOPT_POSTFIELDS, '{\n  \"country_cd\": \"MEX\",\n  \"currency_cd\": \"MXP\",\n  \"pay_agent_cd\"\
          : \"EK6\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /bts/branches:
    post:
      operationId: bts-get-branches
      tags:
      - UNNAMED
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pay_agent_cd:
                  type: string
                  description: Código del payment agent.
                service_uuid:
                  type: string
                signature:
                  type: string
              example:
                pay_agent_cd: EK6
                service_uuid: 60A1F4C0-CC58-47A9-A0B9-868F9EF29045
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - service_uuid
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    branches:
                    - pay_agent_address: 'PALACIO NACIONAL LOTE 65 66, METROPOLITANA 2A SECC '
                      pay_agent_branch_ds: BA PRESTA PRENDA PALACIO NACIONAL NEZA
                      pay_agent_branch_sd: '5411'
                      pay_agent_cd: EK6
                      pay_agent_city: CIUDAD NEZAHUALCOYOTL
                      pay_agent_country_cd: MEX
                      pay_agent_phone: +55 55 5555 555
                      pay_agent_region_sd: '1'
                      pay_agent_schedule: 'Mon to Sun:  9:00a.m - 9:00p.m.'
                      pay_agent_state_sd: MEX
                      pay_agent_zipcode: '54558'
                    code: 200
                    current_time: 2020-02-24T10:16:07+0100
                    message: OK
              schema:
                type: object
                properties:
                  branches:
                    type: array
                    description: Sucursales del payment agent.
          description: OK
      summary: Obtener branches/sucursales
      description: Obtener branches/sucursales
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/bts/branches \\\n  --header 'Authorization:\
          \ Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"pay_agent_cd\"\
          : \"EK6\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/bts/branches\"\nheaders = {\n    \"Authorization\"\
          : \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"pay_agent_cd\"\
          : \"EK6\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/bts/branches\", {\n  method: \"POST\"\
          ,\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\
          \n  },\n  body: JSON.stringify({\n  \"pay_agent_cd\": \"EK6\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\"\
          ,\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/bts/branches\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER,\
          \ true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    \"Authorization:\
          \ Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
          \ '{\n  \"pay_agent_cd\": \"EK6\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\"\
          : \"121149a0ba5361191d740fa898784a8b\"\n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /bts/payment-agents:
    post:
      operationId: bts-get-payment-agents
      tags:
      - UNNAMED
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_uuid:
                  type: string
                signature:
                  type: string
              example:
                service_uuid: 60A1F4C0-CC58-47A9-A0B9-868F9EF29045
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - service_uuid
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2020-02-24T09:23:11+0100
                    message: OK
                    paymentAgents:
                    - code: '001'
                      description: AGNT 1
                    - code: '003'
                      description: A3
                    - code: VWB
                      description: NAME VWB
              schema:
                type: object
                properties:
                  paymentAgents:
                    type: array
                    description: Lista de todos los payment agents del servicio.
          description: OK
      summary: Obtener payment agents
      description: Obtener payment agents
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/bts/payment-agents \\\n  --header 'Authorization:\
          \ Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"service_uuid\"\
          : \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/bts/payment-agents\"\nheaders = {\n    \"\
          Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"\
          service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/bts/payment-agents\", {\n  method: \"\
          POST\",\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\
          \n  },\n  body: JSON.stringify({\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\"\
          : \"121149a0ba5361191d740fa898784a8b\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/bts/payment-agents\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER,\
          \ true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    \"Authorization:\
          \ Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
          \ '{\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /bts/payment-agents-payment-types:
    post:
      operationId: bts-get-payment-type-by-agent
      tags:
      - UNNAMED
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pay_agent_cd:
                  type: string
                  description: Si se indica, filtra los resultados por el código del payment agent.
                service_uuid:
                  type: string
                signature:
                  type: string
              example:
                pay_agent_cd: '001'
                service_uuid: 60A1F4C0-CC58-47A9-A0B9-868F9EF29045
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - service_uuid
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2020-02-21T14:55:16+0100
                    message: OK
                    payment_types:
                    - dest_country_cd: BRA
                      dest_currency_cd: BRL
                      pay_agent_cd: '001'
                      payment_type_cd: ACC
                    - dest_country_cd: BRA
                      dest_currency_cd: BRL
                      pay_agent_cd: '003'
                      payment_type_cd: ACC
              schema:
                type: object
                properties:
                  payment_types:
                    type: array
                    description: Lista de todos los payment agents del servicio.
          description: OK
      summary: Obtener tipos de pago por payment agent
      description: Obtener tipos de pago por payment agent
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/bts/payment-agents-payment-types \\\n\
          \  --header 'Authorization: Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data\
          \ '{\n  \"pay_agent_cd\": \"001\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\"\
          : \"121149a0ba5361191d740fa898784a8b\"\n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/bts/payment-agents-payment-types\"\nheaders\
          \ = {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload\
          \ = {\n  \"pay_agent_cd\": \"001\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\"\
          : \"121149a0ba5361191d740fa898784a8b\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/bts/payment-agents-payment-types\", {\n\
          \  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\":\
          \ \"application/json\"\n  },\n  body: JSON.stringify({\n  \"pay_agent_cd\": \"001\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\"\
          ,\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/bts/payment-agents-payment-types\");\ncurl_setopt($ch,\
          \ CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER,\
          \ [\n    \"Authorization: Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\n\
          curl_setopt($ch, CURLOPT_POSTFIELDS, '{\n  \"pay_agent_cd\": \"001\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\"\
          ,\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\
          echo $response;"
  /bts/products:
    post:
      operationId: bts-get-products
      tags:
      - UNNAMED
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_type_cd:
                  type: string
                  description: Tipo de pago
                service_uuid:
                  type: string
                signature:
                  type: string
              example:
                payment_type_cd: CSA
                service_uuid: 60A1F4C0-CC58-47A9-A0B9-868F9EF29045
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - service_uuid
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2020-02-24T10:25:50+0100
                    message: OK
                    products:
                    - destinationCountryCode: ARG
                      destinationCurrencyCode: USD
                      directedTransactionCode: RDR
                      electronicFundsCode: NEF
                      originCountryCode: ESP
                      originCurrencyCode: EUR
                      paymentTypeCode: CSA
                      serviceCode: MTR
              schema:
                type: object
                properties:
                  products:
                    type: array
                    description: Productos del tipo de pago.
          description: OK
      summary: Obtener productos
      description: Obtener productos
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/bts/products \\\n  --header 'Authorization:\
          \ Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"payment_type_cd\"\
          : \"CSA\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/bts/products\"\nheaders = {\n    \"Authorization\"\
          : \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"payment_type_cd\"\
          : \"CSA\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/bts/products\", {\n  method: \"POST\"\
          ,\n  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\
          \n  },\n  body: JSON.stringify({\n  \"payment_type_cd\": \"CSA\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\"\
          ,\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/bts/products\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER,\
          \ true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    \"Authorization:\
          \ Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
          \ '{\n  \"payment_type_cd\": \"CSA\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\"\
          : \"121149a0ba5361191d740fa898784a8b\"\n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /bts/states:
    post:
      operationId: bts-get-states
      tags:
      - UNNAMED
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country_cd:
                  type: string
                  description: Código alpha 3 del país.
                service_uuid:
                  type: string
                signature:
                  type: string
              example:
                country_cd: MEX
                service_uuid: 60A1F4C0-CC58-47A9-A0B9-868F9EF29045
                signature: 121149a0ba5361191d740fa898784a8b
              required:
              - signature
              - service_uuid
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 200
                    current_time: 2020-02-24T10:08:02+0100
                    message: OK
                    states:
                    - country_cd: MEX
                      state_cd: '999'
                      state_sd: NOT SET
                    - country_cd: MEX
                      state_cd: AGS
                      state_sd: AGUASCALIENTES
              schema:
                type: object
                properties:
                  states:
                    type: array
                    description: Estados del país.
          description: OK
      summary: Obtener estados/províncias
      description: Obtener estados/províncias
      x-codeSamples:
      - lang: bash
        label: cURL
        source: "curl --request POST \\\n  --url https://api.paylands.com/v1/sandbox/bts/states \\\n  --header 'Authorization:\
          \ Basic <base64(API_KEY:)>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"country_cd\": \"\
          MEX\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://api.paylands.com/v1/sandbox/bts/states\"\nheaders = {\n    \"Authorization\"\
          : \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"country_cd\": \"\
          MEX\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\
          \n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
      - lang: javascript
        label: Node.js
        source: "const response = await fetch(\"https://api.paylands.com/v1/sandbox/bts/states\", {\n  method: \"POST\",\n\
          \  headers: {\n    \"Authorization\": \"Basic <base64(API_KEY:)>\",\n    \"Content-Type\": \"application/json\"\n\
          \  },\n  body: JSON.stringify({\n  \"country_cd\": \"MEX\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\"\
          ,\n  \"signature\": \"121149a0ba5361191d740fa898784a8b\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);"
      - lang: php
        label: PHP
        source: "<?php\n$ch = curl_init(\"https://api.paylands.com/v1/sandbox/bts/states\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER,\
          \ true);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    \"Authorization:\
          \ Basic \" . base64_encode(\"<API_KEY>:\"),\n    \"Content-Type: application/json\"\n]);\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
          \ '{\n  \"country_cd\": \"MEX\",\n  \"service_uuid\": \"60A1F4C0-CC58-47A9-A0B9-868F9EF29045\",\n  \"signature\"\
          : \"121149a0ba5361191d740fa898784a8b\"\n}');\n\n$response = curl_exec($ch);\ncurl_close($ch);\necho $response;"
  /payment:
    post:
      operationId: generate-payment-order
      tags:
      - Pagos
      - Payments
      parameters:
      - $ref: '#/paths/~1/get/parameters/0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  type: string
                  description: Firma que acompaña a la API key. Requerida en todas las peticiones POST/PUT/DELETE.
                  x-description-i18n:
                    eng: Signature paired with the API key. Required in all POST/PUT/DELETE requests.
                amount:
                  type: number
                  minimum: 0
                  description: Cantidad a cobrar, en la moneda fraccionaria elegida. Una cantidad de 100 utilizando la moneda
                    Euro es igual a 1€.
                  x-description-i18n:
                    eng: Amount to charge, in the fractional currency of your choice. An amount of 100 using the currency
                      EUR is equal to 1€.
                operative:
                  description: Operativa de la orden que se usará en el pago.
                  x-description-i18n:
                    eng: Operative to be used during the payment.
                  enum:
                  - AUTHORIZATION
                  - DEFERRED
                  - PAYOUT
                  - TRANSFER
                  type: string
                secure:
                  type: boolean
                  description: '`true` si el pago requerirá 3D Secure. `false` en caso contrario.'
                  x-description-i18n:
                    eng: '`true` if the payment will require 3D Secure. Otherwise `false`.'
                customer_ext_id:
                  nullable: true
                  type: string
                  description: ID externo otorgado por el comercio para identificar de forma única a un usuario.
                  x-description-i18n:
                    eng: External ID provided by the merchant to uniquely identify a customer.
                service:
                  nullable: true
                  type: string
                  description: El UUID del servicio de pago empleado para llevar a cabo la operación.
                  x-description-i18n:
                    eng: The UUID of the payment service used to perform the operation.
                currency:
                  nullable: true
                  description: Código Alpha 3 ISO 4217 de la moneda. Obligatorio si no se indica el campo `service`.
                  x-description-i18n:
                    eng: Alpha 3 ISO 4217 code of the currency. Mandatory if `service` is not provided.
                  type: string
                  example: EUR
                description:
                  type: string
                  description: Descripción del pago. Para los pagos mediante transferencia bancaria, el concepto que verá
                    el usuario será el indicado en este campo.
                  x-description-i18n:
                    eng: Payment description. This field is what users will see on their bank statement in bank transfer transactions.
                additional:
                  nullable: true
                  type: string
                  description: Campo de texto libre enviado por el comercio. Puede utilizarse para almacenar cualquier dato.
                  x-description-i18n:
                    eng: Free field provided by the merchant. May be used to store any kind of data.
                url_post:
                  nullable: true
                  type: string
                  example: https://my.website.com/process
                  description: URL que recibirá una notificación HTTP indicando el estado final del pago.
                  x-description-i18n:
                    eng: URL that will receive an HTTP notification containing the payment's outcome.
                url_ok:
                  nullable: true
                  type: string
                  example: https://my.website.com/ok
                  description: URL a la cual se redirigirá el usuario tras el pago si pudo ser cobrado con éxito.
                  x-description-i18n:
                    eng: URL to which the customer will be redirected after the payment if they were successfully charged.
                url_ko:
                  nullable: true
                  type: string
                  example: https://my.website.com/ko
                  description: URL a la cual se redirigirá el usuario tras el pago si no pudo ser cobrado.
                  x-description-i18n:
                    eng: URL to which the customer will be redirected after the payment if they could not be charged.
                template_uuid:
                  nullable: true
                  type: string
                  description: Plantilla de la carta de pago que se le mostrará al cliente. Si el valor es "null" se utilizara
                    la plantilla por defecto.
                  x-description-i18n:
                    eng: Payment card template shown to the customer during the payment process. If the value is `null`, the
                      default payment card template will be used instead.
                dcc_template_uuid:
                  nullable: true
                  type: string
                  description: Plantilla del DCC que se le mostrará al cliente. Si el valor es `null` se utilizara la plantilla
                    por defecto.
                  x-description-i18n:
                    eng: DCC template shown to the customer during the payment process. If the value is `null`, the default
                      DCC template will be used instead.
                source_uuid:
                  nullable: true
                  type: string
                  description: Identificador único del medio de pago empleado para realizar el pago.
                  x-description-i18n:
                    eng: Unique identifier of the payment method used to perform the payment.
                save_card:
                  nullable: true
                  type: boolean
                  default: true
                  description: Indica si el usuario ha dado consentimiento para que su tarjeta sea usada en pagos futuros.
                    La tarjeta puede usarse para procesar pagos con independencia de este valor, es el comercio quien debe
                    tener en cuenta este campo.
                  x-description-i18n:
                    eng: Whether or not the user has given consent for their card to be stored for future payments. The card
                      may be used regardless of the value of this field. It is the merchant who must take into account the
                      value of this field.
                reference:
                  nullable: true
                  type: string
                  description: Referencia de la orden. Puede ser utilizado como identificador externo o para evitar pagos
                    duplicados.
                  x-description-i18n:
                    eng: The reference of the order. May be used as an external identifier or to avoid duplicate payments.
                dynamic_descriptor:
                  nullable: true
                  type: string
                  description: Descriptor dinámico del cargo en la cuenta bancaria del cliente. Puede no concordar exactamente
                    con este valor.
                  x-description-i18n:
                    eng: Dynamic descriptor of the payment on the customer's bank account. May not match this exact value.
                expires_in:
                  nullable: true
                  type: number
                  default: 600
                  minimum: 600
                  maximum: 31536000
                  description: Tiempo en segundos desde que se crea la orden hasta que expira.
                  x-description-i18n:
                    eng: Time in seconds since the order is created until it expires.
                extra_data:
                  nullable: true
                  properties:
                    profile:
                      description: Configuración del perfil del cliente.
                      x-description-i18n:
                        eng: The customer's profile.
                      properties:
                        first_name:
                          type: string
                          description: Nombre del usuario.
                          x-description-i18n:
                            eng: First name of the customer.
                        last_name:
                          type: string
                          description: Apellidos del usuario.
                          x-description-i18n:
                            eng: Last name of the customer.
                        cardholder_name:
                          nullable: true
                          type: string
                          description: Titular de la tarjeta.
                          x-description-i18n:
                            eng: Cardholder name.
                        document_identification_issuer_type:
                          nullable: true
                          type: string
                          description: Proveedor del documento de identificación.
                          x-description-i18n:
                            eng: Issuer of the identification document of the customer.
                          enum:
                          - STATE_GOVERNMENT
                          - FEDERAL_GOVERNMENT
                          - MONEY_TRANSMITTER
                          - PROFESSIONAL_ASSOCIATION
                        document_identification_type:
                          nullable: true
                          type: string
                          description: Tipo de documento de identificación del usuario.
                          x-description-i18n:
                            eng: Type of customer identification document.
                          enum:
                          - ALIEN_REGISTRATION_CARD
                          - ELECTOR_CREDENTIAL
                          - FISCAL_IDENTIFICATION_CODE
                          - ORIGIN_COUNTRY_IDENTIFICATION_CODE
                          - FOREIGN_IDENTIFICATION_DOCUMENT
                          - NATIONAL_IDENTITY_DOCUMENT
                          - OTHER_PHYSICAL_PERSON_DOCUMENTS
                          - DRIVER_LICENSE
                          - CONSULAR_REGISTRATION
                          - UNDER_AGE
                          - RESIDENCE_CARD
                          - TAX_IDENTIFICATION_NUMBER
                          - NON_DRIVER_LICENSE_PHOTO_ID
                          - VALID_PASSPORT
                          - DIPLOMAT_IDENTITY_CARD
                          - US_GOVERNMENT_ISSUER_ID
                          - UNIQUE_ID_ISSUED_BY_MT
                        document_identification_number:
                          nullable: true
                          type: string
                          description: Número de identificación.
                          x-description-i18n:
                            eng: Identification number.
                        email:
                          nullable: true
                          type: string
                          description: Correo electrónico del usuario.
                          x-description-i18n:
                            eng: Email of the customer.
                        phone:
                          description: Número de teléfono del usuario.
                          x-description-i18n:
                            eng: The customer's phone number.
                          properties:
                            number:
                              type: string
                              description: Número de teléfono sin el prefijo.
                              x-description-i18n:
                                eng: Phone number without the prefix.
                            prefix:
                              type: string
                              pattern: ^\+?\d{1,3}$
                              description: Prefijo de teléfono.
                              x-description-i18n:
                                eng: Phone prefix.
                          required:
                          - number
                          type: object
                        work_phone:
                          description: Número de teléfono del usuario.
                          x-description-i18n:
                            eng: The customer's phone number.
                          properties:
                            number:
                              type: string
                              description: Número de teléfono sin el prefijo.
                              x-description-i18n:
                                eng: Phone number without the prefix.
                            prefix:
                              type: string
                              pattern: ^\+?\d{1,3}$
                              description: Prefijo de teléfono.
                              x-description-i18n:
                                eng: Phone prefix.
                          required:
                          - number
                          type: object
                        home_phone:
                          description: Número de teléfono del usuario.
                          x-description-i18n:
                            eng: The customer's phone number.
                          properties:
                            number:
                              type: string
                              description: Número de teléfono sin el prefijo.
                              x-description-i18n:
                                eng: Phone number without the prefix.
                            prefix:
                              type: string
                              pattern: ^\+?\d{1,3}$
                              description: Prefijo de teléfono.
                              x-description-i18n:
                                eng: Phone prefix.
                          required:
                          - number
                          type: object
                        mobile_phone:
                          description: Número de teléfono del usuario.
                          x-description-i18n:
                            eng: The customer's phone number.
                          properties:
                            number:
                              type: string
                              description: Número de teléfono sin el prefijo.
                              x-description-i18n:
                                eng: Phone number without the prefix.
                            prefix:
                              type: string
                              pattern: ^\+?\d{1,3}$
                              description: Prefijo de teléfono.
                              x-description-i18n:
                                eng: Phone prefix.
                          required:
                          - number
                          type: object
                        birthdate:
                          nullable: true
                          type: string
                          description: Fecha de nacimiento del usuario en formato YYYY-MM-DD.
                          x-description-i18n:
                            eng: Birth date of the customer in YYYY-MM-DD format.
                        source_of_funds:
                          nullable: true
                          type: string
                          description: Origen de los ingresos del usuario.
                          x-description-i18n:
                            eng: Source of funds of the customer.
                        occupation:
                          nullable: true
                          type: string
                          description: Puesto de trabajo del usuario.
                          x-description-i18n:
                            eng: Occupation of the customer.
                        social_security_number:
                          nullable: true
                          type: string
                          description: Número de seguridad social del usuario.
                          x-description-i18n:
                            eng: Social security number of the customer.
                      required:
                      - first_name
                      - last_name
                      type: object
                    address:
                      description: Dirección de cliente
                      x-description-i18n:
                        eng: Client address
                      properties:
                        address1:
                          type: string
                          description: Línea 1 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 1 of the address (max. 50 characters).
                        address2:
                          nullable: true
                          type: string
                          description: Línea 2 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 2 of the address (max. 50 characters).
                        address3:
                          nullable: true
                          type: string
                          description: Línea 3 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 3 of the address (max. 50 characters).
                        city:
                          type: string
                          description: Ciudad.
                          x-description-i18n:
                            eng: City.
                        country:
                          type: string
                          example: ESP
                          description: Código alfanumérico de tres letras ISO 3166 del país.
                          x-description-i18n:
                            eng: ISO 3166 three-letter alphanumeric code of the country.
                        default:
                          type: boolean
                          description: Configurar como dirección por defecto. Si el usuario tiene una dirección por defecto,
                            se utilizará ésta siempre que no se indique una diferente.
                          x-description-i18n:
                            eng: Set as the default address. If the customer has a default address, it will be used unless
                              a different one is provided.
                        state_code:
                          type: string
                          description: Estado o provincia.
                          x-description-i18n:
                            eng: State or province.
                        type:
                          enum:
                          - OTHER
                          - BILLING
                          - SHIPPING
                          type: string
                          description: Tipo de dirección.
                          x-description-i18n:
                            eng: Type of address.
                        zip_code:
                          type: string
                          description: Código postal.
                          x-description-i18n:
                            eng: Zip code.
                      required:
                      - address1
                      - city
                      - state_code
                      - country
                      - zip_code
                      - default
                      - type
                      type: object
                    billing_address:
                      description: Dirección de cliente
                      x-description-i18n:
                        eng: Client address
                      properties:
                        address1:
                          type: string
                          description: Línea 1 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 1 of the address (max. 50 characters).
                        address2:
                          nullable: true
                          type: string
                          description: Línea 2 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 2 of the address (max. 50 characters).
                        address3:
                          nullable: true
                          type: string
                          description: Línea 3 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 3 of the address (max. 50 characters).
                        city:
                          type: string
                          description: Ciudad.
                          x-description-i18n:
                            eng: City.
                        country:
                          type: string
                          example: ESP
                          description: Código alfanumérico de tres letras ISO 3166 del país.
                          x-description-i18n:
                            eng: ISO 3166 three-letter alphanumeric code of the country.
                        default:
                          type: boolean
                          description: Configurar como dirección por defecto. Si el usuario tiene una dirección por defecto,
                            se utilizará ésta siempre que no se indique una diferente.
                          x-description-i18n:
                            eng: Set as the default address. If the customer has a default address, it will be used unless
                              a different one is provided.
                        state_code:
                          type: string
                          description: Estado o provincia.
                          x-description-i18n:
                            eng: State or province.
                        type:
                          enum:
                          - OTHER
                          - BILLING
                          - SHIPPING
                          type: string
                          description: Tipo de dirección.
                          x-description-i18n:
                            eng: Type of address.
                        zip_code:
                          type: string
                          description: Código postal.
                          x-description-i18n:
                            eng: Zip code.
                      required:
                      - address1
                      - city
                      - state_code
                      - country
                      - zip_code
                      - default
                      - type
                      type: object
                    shipping_address:
                      description: Dirección de cliente
                      x-description-i18n:
                        eng: Client address
                      properties:
                        address1:
                          type: string
                          description: Línea 1 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 1 of the address (max. 50 characters).
                        address2:
                          nullable: true
                          type: string
                          description: Línea 2 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 2 of the address (max. 50 characters).
                        address3:
                          nullable: true
                          type: string
                          description: Línea 3 de Dirección (max. 50 carácteres).
                          x-description-i18n:
                            eng: Line 3 of the address (max. 50 characters).
                        city:
                          type: string
                          description: Ciudad.
                          x-description-i18n:
                            eng: City.
                        country:
                          type: string
                          example: ESP
                          description: Código alfanumérico de tres letras ISO 3166 del país.
                          x-description-i18n:
                            eng: ISO 3166 three-letter alphanumeric code of the country.
                        default:
                          type: boolean
                          description: Configurar como dirección por defecto. Si el usuario tiene una dirección por defecto,
                            se utilizará ésta siempre que no se indique una diferente.
                          x-description-i18n:
                            eng: Set as the default address. If the customer has a default address, it will be used unless
                              a different one is provided.
                        state_code:
                          type: string
                          description: Estado o provincia.
                          x-description-i18n:
                            eng: State or province.
                        type:
                          enum:
                          - OTHER
                          - BILLING
                          - SHIPPING
                          type: string
                          description: Tipo de dirección.
                          x-description-i18n:
                            eng: Type of address.
                        zip_code:
                          type: string
                          description: Código postal.
                          x-description-i18n:
                            eng: Zip code.
                      required:
                      - address1
                      - city
                      - state_code
                      - country
                      - zip_code
                      - default
                      - type
                      type: object
                    cof:
                      description: Configuración del Credential On File
                      x-description-i18n:
                        eng: Credential on file configuration
                      properties:
                        reason:
                          description: Motivo para el cual se utilizará el Credential On File más adelante.
                          x-description-i18n:
                            eng: Reason for which the Credential On File will be used later.
                          enum:
                          - INSTALLMENTS
                          - RECURRING
                          - NO_SHOW
                          - DELAYED
                          - OTHER
                          type: string
                        txnid:
                          type: string
                          description: Identificador del COF obtenido tras una CIT. Si no se proporciona, se enviará un txnid
                            existente de la tarjeta (si hay).
                          x-description-i18n:
                            eng: COF identifier obtained after a CIT. If not provided, an existing txnid of the card (if any)
                              will be sent.
                      required:
                      - reason
                      type: object
                    payment:
                      description: Configuración avanzada del pago
                      x-description-i18n:
                        eng: Advanced payment configuration
                      properties:
                        installments:
                          type: number
                          description: Número de cuotas
                          x-description-i18n:
                            eng: Number of installments
                      required:
                      - installments
                      type: object
                    halcash:
                      description: Información adicional sobre HalCash
                      x-description-i18n:
                        eng: Additional information about HalCash
                      properties:
                        expiry_date:
                          type: string
                          description: Fecha de caducidad
                          x-description-i18n:
                            eng: Expiration date
                        secret_key:
                          type: string
                          description: Clave secreta
                          x-description-i18n:
                            eng: Secret key
                        sender_name:
                          type: string
                          description: Nombre de quien envía el dinero
                          x-description-i18n:
                            eng: Name of the person sending the money
                      required:
                      - sender_name
                      - secret_key
                      - expiry_date
                      type: object
                    marketplace:
                      description: Datos de liquidación de los distintos comercios asociados al marketplace. La suma del campo
                        net_amount para todos ellos deberá coindicir con el campo `amount`.
                      x-description-i18n:
                        eng: Settlement data of the different merchants associated with the marketplace. The sum of the net_amount
                          field for all of them must match the `amount` field.
                      properties:
                        merchant_location_id:
                          type: number
                          description: ID del merchant.
                          x-description-i18n:
                            eng: Merchant ID
                        amount:
                          type: number
                          description: Importe bruto que va destinado a ese merchant.
                          x-description-i18n:
                            eng: Gross amount that goes to that merchant
                        net_amount:
                          type: number
                          description: Cantidad sin la comisión que va destinada a ese merchant.
                          x-description-i18n:
                            eng: Amount without the commission that goes to that merchant.
                        description:
                          type: string
                          description: Descripción opcional.
                          x-description-i18n:
                            eng: Optional description.
                      required:
                      - merchant_location_id
                      - amount
                      - net_amount
                      type: object
                    checkout:
                      nullable: true
                      description: Metódo de pago.
                      x-description-i18n:
                        eng: Payment method
                      properties:
                        uuid:
                          type: string
                          description: UUID del checkout.
                          x-description-i18n:
                            eng: Checkout UUID
                        payment_methods:
                          nullable: true
                          type: array
                          description: Aunque en la configuración del checkout se indican los servicios de pago que se mostrarán,
                            si se envía este campo se mostrarán los que se especifiquen aquí, por lo que este campo tiene
                            preferencia frente a la configuración que se haya establecido en el panel.
                          x-description-i18n:
                            eng: Although the checkout configuration indicates the payment services to be displayed, if this
                              field is submitted, the ones specified here will be displayed, so this field takes precedence
                              over the configuration set in the panel.
                          enum:
                          - - PAYMENT_CARD
                            - BIZUM
                            - SOFORT
                            - IDEAL
                            - CRYPTO
                            - PIX
                            - VIACASH
                            - KLARNA
                            - GIROPAY
                            - GOOGLE_PAY
                            - APPLE_PAY
                            - CLICKTOPAY
                        customization:
                          type: object
                          properties:
                            title:
                              nullable: true
                              type: string
                              description: Titulo del checkout.
                              x-description-i18n:
                                eng: Checkout title.
                            logo:
                              nullable: true
                              type: string
                              description: Logo del checkout, tiene que ser una URL.
                              x-description-i18n:
                                eng: Checkout logo, needs to be a URL.
                            theme_type:
                              nullable: true
                              type: string
                              description: Tema del checkout.
                              x-description-i18n:
                                eng: Checkout theme.
                            accent_color:
                              nullable: true
                              type: string
                              description: Color complementario del checkout, en formato hexadecimal.
                              x-description-i18n:
                                eng: Checkout accent colour, in hexadecimal format.
                            font:
                              nullable: true
                              type: string
                              description: Fuente de texto del checkout.
                              x-description-i18n:
                                eng: Checkout text font.
                            description:
                              nullable: true
                              type: string
                              description: Resumen del checkout.
                              x-description-i18n:
                                eng: Checkout summary.
                            payment_details:
                              nullable: true
                              type: object
                              description: Objeto que contiene varias entradas llave - valor.
                              x-description-i18n:
                                eng: Object containing several key-value entries.
                          description: Customización del checkout.
                          x-description-i18n:
                            eng: Checkout customization.
                      required:
                      - uuid
                      type: object
                  type: object
              example:
                signature: 341f7de8e6fc49da8d8736473af6b03a
                amount: 100
                operative: AUTHORIZATION
                secure: true
                customer_ext_id: test
                service: 9A1BDCC8-DB30-4ED2-8523-62B330A67873
                currency: EUR
                description: 'Payment #1'
                additional: null
                url_post: https://my.website.com/process
                url_ok: https://my.website.com/ok
                url_ko: https://my.website.com/ko
                template_uuid: 6412549E-933E-4DFE-A225-2E87FBF7623E
                dcc_template_uuid: BF418CA6-7043-4864-B36F-F02C2CF2B76B
                source_uuid: null
                save_card: true
                reference: '50620'
                dynamic_descriptor: PNP*NombreComercio
                expires_in: 3600
                extra_data:
                  cof:
                    reason: OTHER
                  checkout:
                    uuid: 4acae331-1ade-46f9-8159-8e7715145e0a
                    payment_methods:
                    - PAYMENT_CARD
                    - BIZUM
                    customization:
                      theme_type: DARK
                      font: Sans Serif
                      description: Checkout with a black background color
                      payment_details:
                        order_number: '632863'
              required:
              - signature
              - amount
              - operative
              - secure
              - description
[...]
